
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet">
    <title>Register</title>
</head>
<body>
{% block body %}
    <div class="container">

    <div class="cover">
        <div class="front">
            <img src="{{asset('assets/img/frImg.jpg')}}" alt="" />
            <div class="text">
                <span class="text-1">Morrocan net<br />
                    where all the informations you search are available</span>
                <span class="text-2">Let's get connected</span>
            </div>
        </div>
        <div class="back">
            <img class="backImg" src="{{asset('assets/img/bcIMG.jpg')}} " alt="" />
            <div class="text">
                <span class="text-1">Complete miles of journey <br />
                    with one step</span>
                <span class="text-2">Let's get started</span>
            </div>
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Register</div>
                {{ form_start(registrationForm) }}
                    <input type="hidden" name="type" value="register">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            {{ form_row(registrationForm.username) }}
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                        </div>

                        <div class="button input-box">
                            <input type="submit" value="Submit" />
                        </div>
                        <div class="text sign-up-text">
                            Already have an account? <label for="flip"><a href="/login">Login now</a> </label>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>

        </div>
    </div>
{% endblock %}
