{% extends 'base.html.twig' %}



{% block body %}
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <!-- Video player 1422x800 -->
        <img src="/assets/img/{{article.getPhotoPath()}}" alt="">
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">                    
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">{{article.getTitle()}}</h2>
                <p class="tm-mb-40">{{article.getDatePub().format('Y-m-d')}} posted by {{article.getUser().getUsername()}}</p>
                <p>
                    {{article.getContent()}}
                </p>
                <span class="d-block text-right tm-color-primary">{{article.getCategory().getCategoryName()}}</span>
            </div>
            
            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                {% for item in article.getComments() %}
                    <div class="tm-comment tm-mb-45">
                    <figure class="tm-comment-figure">
                        
                        <figcaption class="tm-color-primary text-center">Mark Sonny</figcaption>
                    </figure>
                    <div>
                        <p>
                            {{item.getContent()}}
                        </p>
                        <div class="d-flex justify-content-between">
                            
                            <span class="tm-color-primary">{{item.getDateCom().format('Y-m-d')}}</span>
                        </div>                                                 
                    </div>                                
                </div>
                {% endfor %}
                
               
                <form action="/article/addComment" method='POST' class="mb-5 tm-comment-form">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    
                    <div class="mb-4">
                        <textarea class="form-control" name="content" rows="6"></textarea>
                    </div>
                    <input type="text" hidden name='id' value='{{article.getId()}}'>
                    <div class="text-right">
                        <button  type='submit' class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                    </div>                                
                </form>                          
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                <li><a href="#" class="tm-color-primary">Visual Designs</a></li>
                <li><a href="#" class="tm-color-primary">Travel Events</a></li>
                <li><a href="#" class="tm-color-primary">Web Development</a></li>
                <li><a href="#" class="tm-color-primary">Video and Audio</a></li>
                <li><a href="#" class="tm-color-primary">Etiam auctor ac arcu</a></li>
                <li><a href="#" class="tm-color-primary">Sed im justo diam</a></li>
            </ul>
            
        </div>                    
    </aside>
</div>
{% endblock %}
